body.registration, body.session, body.passwords, body.confirmations {
  //  background-color: #1d749f;

  form.form-login h2.form-login-heading {
    color: rgb(121, 121, 121);
    background: none;
    padding: 20px 20px 0 20px;
  }

  .registration {
    color: #333;
    text-align: center;
    margin: 20px auto;
    font-size: 13px;
  }
}
