<p>Hello <%= @resource.email %>!</p>

<p><%= t('devise.password.link_change_password') %></p>

<p><%= link_to t('devise.password.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><% t('devise.password.didnt_request_password') %></p>
<p><%= t('devise.password.password_wont_change_until_acess') %></p>
